<!-- head -->
<%- include('partials/head')  %>
<!-- /head --> 

<body>
    <!-- header -->    
    <%- include('partials/header')  %>
    <!-- /header -->

    <main class="container-main">


        <div class="subcontainer-main">




            <!------------titulo primer cajita------------->

            <div class="title-main">
                <h1>Guitarras</h1>
            </div>


            <!------------------------------------------------------>




            <!-----producto con los botones de comprar------>

            <div class="product-main">

                <h2 class="subtitle-guitar">Guitarra Gibson ATB-123</h2>

                <div class="product-img">
                    <img src="" alt="">
                </div>

                <div class="buttons-product">
                    <button>Comprar</button>
                    <button>A침adir al carrito</button>
                </div>
            

                <div class="description-product">

                    <h1 class="title-description">
                        Descripcion
                    </h1>
                    <p> Guitarra Gibson "mytichal rock", modelo ABC-123. Con m치stil de pl치stico, clavijero anti temblor y diapas칩n extendible.
                    </p>

                </div>  

            </div>
            <!-- ----------------------------------------------------->




            <!-------------------- metodo de pagos ---------------->

            <div class="payment-method-main">
                <li>tarjeta de debito</li>
                <li>tarjeta de credito</li>
                <li>mercado pago</li>
                <li>pago facil</li>
                <li>rapipago</li>
            </div>
            <!------------------------------------------------------>



        </div>

    </main>





    <!-- footer -->
    <%- include('partials/footer')  %> 
    <!-- footer -->
</body>
</html>